<div class="blog-details">
  <h1>Ex-Hall Executive Committee</h1>
  <div class="space-20"></div>
  <p>The Ex-Hall Executive Committee (Ex-HEC) comprises former student leaders who previously served on the Hall Executive Committee (HEC), overseeing governance and management. With rich experience, they contribute to policy, infrastructure, and resident welfare. They mentor current HEC members, preserving institutional knowledge and guiding critical decisions. Their pride stems from shaping the hall's culture and environment positively. Though their official duties ended, their commitment to the hall's success persists, advocating for its prosperity and growth.</p>
  <div class="space-10"></div>
  <div class="space-10"></div>

  <!-- --------------------------------Y20-------------------------------------------- -->

  <h4>HEC  (2022-23)</h4>
  <div class="overall">
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/shantanu-sirothia-982875210">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711914514/Y20%20HEC/president_obfcxf.jpg" alt="Shantanu Sirothia">
        </div>
        <div class="name">Shantanu Sirothia</div>
        <div class="pos">President</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/abhiyanshuk2001/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711914651/Y20%20HEC/mess1_oyxpuz.jpg" alt="Abhiyanshu Kumar">
        </div>
        <div class="name">Abhiyanshu Kumar</div>
        <div class="pos">Mess Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/sanskarsharma19/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1712120428/Y20%20HEC/mess2_rs9oea.jpg" alt="Sanskar Sharma">
        </div>
        <div class="name">Sanskar Sharma</div>
        <div class="pos">Mess Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/md-saif-147a6b1ba/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711914636/Y20%20HEC/maintainence1_umn1em.jpg" alt="Md Saif">
        </div>
        <div class="name">Md Saif</div>
        <div class="pos">Maintenance Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/devyanshu-singh-07/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1712878270/Y20%20HEC/main2_tpwfd0.jpg" alt="Devyanshu Singh">
        </div>
        <div class="name">Devyanshu Singh</div>
        <div class="pos">Maintenance Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/ayushagrawal4602">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711984853/Y20%20HEC/snt_coj1tb.jpg" alt="Ayush Agrawal">
        </div>
        <div class="name">Ayush Agrawal</div>
        <div class="pos">SnT Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/sheeshram-choudhary-076a2121a/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1712174244/Y20%20HEC/sports_rkwgii.jpg" alt="Sheeshram Choudhary">
        </div>
        <div class="name">Sheeshram Choudhary</div>
        <div class="pos">Sports Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/granth-choudhary-a9199223a/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711914379/Y20%20HEC/cult_trc983.jpg" alt="Granth Choudhary">
        </div>
        <div class="name">Granth Choudhary</div>
        <div class="pos">Cultural Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/sharma-avi/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711914071/Y20%20HEC/finance_az0ive.jpg" alt="Avi Sharma">
        </div>
        <div class="name">Avi Sharma</div>
        <div class="pos">Finance Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/sujal-harkut-8027601b9/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711913939/Y20%20HEC/common-room_l0tjt0.jpg" alt="Sujal">
        </div>
        <div class="name">Sujal Harkut</div>
        <div class="pos">Common Rooms' Secretary</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/utkarshsrivastava0892">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711913743/Y20%20HEC/web1_cwqbmf.jpg" alt="Utkarsh Srivastava">
        </div>
        <div class="name">Utkarsh Srivastava</div>
        <div class="pos">Web InCharge</div>
      </a>
    </div>
    <div class="responsive">
      <a target="_blank" href="https://www.linkedin.com/in/swayamgupta20/">
        <div class="image_div">
          <img src="https://res.cloudinary.com/dk7evovzs/image/upload/v1711913742/Y20%20HEC/web2_z2yttv.jpg" alt="Swayam Gupta">
        </div>
        <div class="name">Swayam Gupta</div>
        <div class="pos">Web InCharge</div>
      </a>
    </div>
    <hr>
  </div>

</div>